
@import "~leaflet/dist/leaflet.css";

/* You can add global styles to this file, and also import other style files */
@import '~@sersol/ngx/styles/mixins';
@import '~@sersol/ngx/styles/typography';
@import '~@sersol/ngx/styles/layout';
@import '~@sersol/ngx/styles/loader';
@import '~@sersol/ngx/styles/select';
@import '~@sersol/ngx/styles/snackbar';
@import '~@sersol/ngx/styles/button';
@import '~@sersol/ngx/styles/default-theme';

@import '~highlight.js/styles/github-dark.css';


@import './styles/main.scss';

:root {
    --font-family-primary: 'Poppins', sans-serif;
    --scrollbar-thumb-color-bg: #555555;
    --code-example-bg: #0d1117;
}

body {
  background-color: var(--bg-1dp);
}

.hljs {
  border-radius: 6px;
}

.scheme-dark {

  a{
    color: white;
  }
}
