
@import "leaflet/dist/leaflet.css";

/* You can add global styles to this file, and also import other style files */
@import '@sersol/ngx/styles/typography.scss';
@import '@sersol/ngx/styles/layout.scss';
@import '@sersol/ngx/styles/loader.scss';
@import '@sersol/ngx/styles/select.scss';
@import '@sersol/ngx/styles/snackbar.scss';
@import '@sersol/ngx/styles/button.scss';
@import '@sersol/ngx/styles/default-theme.scss';

@import 'highlight.js/styles/github-dark.css';


@import './styles/main.scss';

:root {
    --font-family-primary: 'Poppins', sans-serif;
    --scrollbar-thumb-color-bg: #555555;
    --code-example-bg: #0d1117;
}

body {
  background-color: var(--bg-1dp);
}

.hljs {
  border-radius: 6px;
}

.scheme-dark {

  a{
    color: white;
  }
}
